@charset "UTF-8";
html {
    font: 16px Hind, Arial, sans-serif;	
    color:#0b3767;
}
body {
    background-color: rgba(239, 239, 239, 0.05);
}
header {
    border-bottom: solid 0.1em rgba(11, 55, 103, 0.7);
    height: 6.5em;
}
#logoHeader {
    display: inline-block;
    width: 5em;
    margin: .25em .5em .25em 3em;
    cursor: pointer;
}
#imgHeader, #imgHeaderSec {
    width: 100%;
}
#h1Header, #h2Header, #h1HeaderSec, #h2HeaderSec {
    font-family: 'Special Elite', cursive;
    font-weight: 500;   
    margin: 0;
    cursor: pointer;
}
#nomeHeader h1 {
    font-size: 2em;
    position: relative;
    top: -.7em;
}
#nomeHeader h2 {
    font-size: .88em;
    position: relative;
    top: -1.9em;
}
#nomeHeader {
    width: 9em;
    height: 2em;
    margin: 0;
    display: inline-block;
}
.divPesquisa{
    position: absolute;
    top: 1.25em;
    left: 28%;
}
.formPesquisa {
    width: 32em;
    display: inline-block;
}
.pesquisa {
    padding: .6em 2.1em .6em .6em;
    width: 32em;
    border-radius: .2em;
    background-color: rgba(203, 209, 215, .3);
    transition: .8s;
    border: .09em solid transparent;
    font-size: 1.05em;
}
.pesquisa:focus {
    background-color: #fefefe;
    outline:none;
    border: .09em solid rgba(11, 55, 103, .75);
}
.lupa {
    position:relative;
    top: 0.15em;
    left: -0.5em;
    color: #0b3767;
    cursor: pointer;
}
.lupa:hover {
    color: #6e808b;
}
.divUser, .divLogado {
    position: absolute;
    top: .25em;
    right: 12%;
    display: none;
}
.carrinho {
    position: absolute;
    top: 0.75em;
    right: 6%;
    color: #0b3767;
    cursor: pointer;
}
.carrinho:hover { 
    color: #6e808b;
}
.cadastrar, .minhaConta, .logar, .desLogar {
    color: #0b3767;
    cursor: pointer;
}
.cadastrar:hover, .minhaConta:hover, .logar:hover, .desLogar:hover { 
    color: #6e808b;
}
.separador {
    color: #0b3767;
    font-size: 1.7em;
}
nav {
    position: absolute;
    top: 4.5em;
    left: 25%;
    width: 43em;
    height: 1.5em;
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    font-size: 1.2em;
    display: inline-block;
    margin: 0.75em 3.7em .25em 0;
    cursor: pointer;
}
nav li:hover, #esqueciSenha:hover {	
    color: #6e808b;
}
article {
    min-height: 750px;
}
/* PÁGINA INICIAL */
.fundoInicio {
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url('../img/peixe2.png');    
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
}
.overlay {
    width: 70%;
    height: 300px;
    position: absolute;
    opacity: .5;
    background-color: #fff;
    margin: 0 15%;
    top: 8em;
}
.planosInicio {
    width: 60%;
    margin: 1.25em 20%;
    position: absolute;
    top: 8em;
}
.planosInicio h1 {
    text-align: center;
    font-size: 2.5em;
    color: #0b3767;
    font-weight: 500;
    text-shadow: 1px 1px #6e808b;
    margin: .25em;
}
/* LISTAGEM PRODUTOS */
.divMenu {
    position: absolute;
    width: 16%;
    top: 10em;
    left: 1em;
}
.divMenu div, .divMenuCliente div {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
    position: relative;
    left: 1em;
    margin-top: 0;
}
.labelMenu, .labelMenuCli {
    font-size: 1.5em;
    line-height: 1.7em;
    position: relative;
    left: 1em;
}
.divMenu li, .divMenuCliente li {
    list-style-type:none;
    margin: .63em .9em .45em 3.15em;
    font-size: 1em;
    position: relative;
    left: -1.99em;
    cursor: pointer;
}
.divMenu li:hover, .divMenuCliente li:hover {	
    color: #6e808b;
}
.listaProdutos {
    display: inline-block;
    width: 80%;
    position: relative;
    padding: 3em 0;
    left: 17em;
}
.produtoMini {
    position: relative;
    width: 23%;
    border-radius: .2em;
    display: inline-block;
    margin: 0.5em;
    background-color: rgba(203, 209, 215, .1);
}
.fotoMini {
    width: 86%;
    height: 9.9em;
    display: inline-block;
    padding: 7%;
    position: relative;
}
.produtoMini h1 {
    margin: 0;
    font-weight: 400;
    text-align: center;
}
.produtoMini p {
    text-align: center;
    margin: 0;
}
.verMaisMini {
    text-align: center;
    margin: 4% auto;
    padding: .5em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    width: 36%;
    cursor: pointer;
}
.comprarMini {
    text-align: center;
    margin: .5em .5em .5em .25em;
    padding: .5em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    display: inline-block;
    width: 36%;
    cursor: pointer;
}
.verMaisMini:hover, .comprarMais:hover, #finalizarCompra:hover, #entrarLogin:hover, #criarConta:hover, #salvarDadosConta:hover, #enviarMensagem:hover {
    background-color: rgba(203, 209, 215, .3);
}

/* DETALHES PRODUTO */
.produtoMais {
    width: 70%;
    position: relative;
    top: 3em;
    left: 15%;
    background-color: rgba(203, 209, 215, .1);
}
.divFotoMais {
    width: 45%;
    margin: 2em;
    display: inline-block;
}
.fotoMais {
    width: 100%;
    height: 19.5em;
}
.detalhesProduto {
    width: 45%;
    display: inline-block;
    position: relative;
    bottom: 1em;
    text-align: center;
}
.precoMais {
    font-weight: 600;
}
.qtdeCompraMais {
    text-align: center;
    width: 18%;
    margin-right: 1em;
    line-height: 2.4em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    background-color: rgba(203, 209, 215, 0);
}
.unidadeMais {
    display: inline-block;
    margin-top: 1.5em;
}
.comprarMais {
    padding: .5em 3em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    display: inline-block;
    cursor: pointer;
    margin-top: 1.5em;
}

/* CARRINHO */
.divCarrinho {
    position: relative;
    top: 3em;
    left: 10em;
    width: 75%;
}
.h1DivCarrinho {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
    padding-bottom: .75em;
}
.h1DivCarrinho h1 {
    position: relative;
    left: 1em;
    font-weight: 500;
    margin: 0;    
    display: inline-block;
}
.h1DivCarrinho span {
    position: relative;
    left: 4%;
}
.tdImg {
    width: 15%;
    padding: 1em;
}
.divProdutoCar {
    width: 100%;
    display: inline-block;
}
.carrinhoTable table {
    border-collapse: collapse;
}
.carrinhoTable tr {
    line-height: 2;
}
.itemCarrinho {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
}
.carrinhoTable th {
    font-weight: 300;
    text-align: left;
    padding-left: 1em;
    background-color: rgba(203, 209, 215, .3);
}
.qtdeCompra {
    width: 5em;
    text-align: center;
    line-height: 3em;
    margin: 0 0 0 1.8em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    background-color: rgba(203, 209, 215, 0);
}
.removerPedido, .atualizaCarrinho {
    cursor: pointer;
}
#finalizarCompra {
    margin: 2em 0 0 auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
.fotoCarrinho { 
    width: 100%;
}
.carrinhoVazio {
    width: 100%;
    height: 100px;
    background-color: rgba(203, 209, 215, .1);
}
.carrinhoVazioText {
    line-height: 1.5em;
    color: #6e808b;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 3%;
}

/* LOGIN */
section {
    min-height: 750px;
}
.divIconLogin {
    margin: 1em auto 0 auto;
    width: 47%;
    font-size: 1.5em;
}
.divLoginCentro { 
    width: 50%;
    height: 400px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .1);
}
.divCamposLogin {
    width: 60%;
    margin: 0 auto;   
}
.camposLogin {
    border-style: none none solid none;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(239, 239, 239, 0.05);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    min-width: 20em;
    margin-top: 2em;
}
.camposLogin:focus {
    border-color: rgba(11, 55, 103, .95);
}
#entrarLogin {
    margin: 3em auto .5em;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
#esqueciSenha {
    margin: 0 auto 2em;
    max-width: 25%;
    text-align: center;
    cursor: pointer;
}
#naoTemConta {
    margin: 0 auto .5em;
    max-width: 28%;
    text-align: center;
}
#criarContaLogin {
    margin: 0 auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}

/* CADASTRO CLIENTE */
.divIconCriarConta {
    margin: 1em auto 0 auto;
    width: 33%;
    font-size: 1.5em;
}
.divCriarContaCentro { 
    width: 80%;
    height: 275px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .1);
}
.divCamposCriarConta {
    width: 37%;
    margin: 0 6.2%;
    display: inline-block;  
}
#criarConta, #salvarDadosConta {
    margin: 3em auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
.camposCriarConta {
    border-style: none none solid none;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(239, 239, 239, 0.05);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    min-width: 20em;
    margin-top: 2em;
}
.divIconContinuarConta {
    margin: 1em auto 0 auto;
    width: 80%;
    font-size: 1.5em;
}
.divContinuarContaCentro {
    width: 80%;
    height: 430px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .1);
}
.divCamposContinuarConta {
    margin: 0 5%;
    display: inline-block;  
}
.divCamposContinuarConta1 {
    width: 23%;
}
.divCamposContinuarConta2 {
    width: 42%;
}
.divCamposContinuarConta3 {
    width: 4%;
}
.divCamposContinuarConta4 {
    width: 47%;
}
.divCamposContinuarConta5 {
    width: 32.5%;
}
.divCamposContinuarConta6 {
    width: 11%;
}
.divCamposContinuarConta7 {
    width: 68.5%;
}
.camposContinuarConta {
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    margin-top: 2em;
}
.camposContinuarConta1 { 
    border-style: none none solid none;    
    background-color: rgba(239, 239, 239, 0.05);    
    min-width: 12em;
}
.camposContinuarConta2 {
    border-style: solid;    
    background-color: rgba(239, 239, 239, .3);     
    padding-left: .25em;
}
.camposContinuarConta21 {  
    min-width: 26em;    
}
.camposContinuarConta22 {  
    width: 2em;    
}
.camposContinuarConta3 {
    border-style: none none solid none;
    background-color: rgba(239, 239, 239, .05);    
    min-width: 25em;    
}
.camposContinuarConta4 {
    border-style: none none solid none;
    background-color: rgba(239, 239, 239, .05);    
    min-width: 17.5em;
}
.camposContinuarConta5 {
    border-style: none none solid none;
    background-color: rgba(239, 239, 239, .05);    
    width: 6em;
}
.camposContinuarConta6 {
    border-style: none none solid none;
    background-color: rgba(239, 239, 239, .05);    
    min-width: 37em;
}
.camposCriarConta:focus, .camposContinuarConta:focus, .camposMeusDados:focus {
    border-color: rgba(11, 55, 103, .95);
}

/* AREA DO CLIENTE*/
.divMenuCliente {
    position: absolute;
    width: 17%;
    top: 10em;
    left: 1em;
}
.contemBemVindoCli { 
    display: inline-block;
    width: 73%;
    position: relative;
    padding: 3em 0;
    left: 27%;
}
.overlayCli { 
    height: 15em;
    position: relative;
    margin: 3em 11.5%;
    border: solid .01em rgb(203, 209, 215);
}
.bemVindoCli { 
    width: 60%;
    position: absolute;
    top: 7em;
    margin: 0 20%;
}
.bemVindoCli h1 { 
    text-align: center;
    font-size: 1.5em;
    color: #0b3767;
    font-weight: 200;
    text-shadow: 0.25px 0.25px #6e808b;
    margin: .25em;
    line-height: 2em;
}
.contemMeusDados { 
    width: 68%;
    position: relative;
    margin: 3em 0 0 26%;
}
.meusDados { 
    width: 100%;
    height: 550px;
    position: relative;
    margin: 1em 0 0 0;
    background-color: rgba(203, 209, 215, .1);
}
.meusDados form { 
    padding-top: 3%;
}
.divDadosConta h1 { 
    position: relative;
    left: 1em;
    font-weight: 500;
    margin: 0;
}
.divCamposDadosConta {    
    margin: 0 5% 2%;
    display: inline-block;
}
.divCamposDadosConta1 { 
    width: 37%;
}
.divCamposDadosConta2 {
    width: 4%;
}
.divCamposDadosConta3 {
    width: 17%;
}
.divCamposDadosConta4 { 
    width: 59%;
}
.divCamposDadosConta5 {
    width: 22%;
}
.divCamposDadosConta6 { 
    width: 41%;
}
.camposMeusDados { 
    border-style: solid;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(239, 239, 239, 0.3);
    outline: none;
    line-height: 1.5em;
    font-size: 1.1em;
    color: #444;
    padding: .2em;
}
.camposMeusDados1 { 
    min-width: 21em;
}
.camposMeusDados2 { 
    width: 2em;
}
.camposMeusDados3 { 
    width: 9em;
}
.camposMeusDados4 { 
    width: 31.25em;
}
.camposMeusDados5 {
    width: 12em;
}
.camposMeusDados6 {
    width: 22em;
}
.btnMeusDados { 
    margin: 2em auto 0.5em;
    width: 11%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 23.5em;
}

/* SOBRE */
.divSobre {
    margin-bottom: 5%;
}
.imgSobre {
    width: 71.3%;
    margin: 2em auto;
}
.fotoSobre {
    width: 100%;
}
.overlaySobre {
    width: 77%;
    height: 23em;
    position: relative;
    margin: 3em 11.5%;
    border: solid .01em rgb(203, 209, 215);
}
.infosSobre {
    width: 60%;
    position: absolute;
    top: 12em;
    margin: 0 20%;
}
.infosSobre h1 {
    text-align: center;
    font-size: 1.5em;
    color: #0b3767;
    font-weight: 200;
    text-shadow: 0.25px 0.25px #6e808b;
    margin: .25em;
    line-height: 2em;
}
.divSobreLabel {
    margin: 3em auto 0 auto;
    width: 47%;
    font-size: 1.5em;
}
.divSobreLabel h1 {
    font-weight: 400;
}
.divSobreCentro {
    width: 50%;
    height: 435px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .1);
}
#mensagemSobre { 
    border-style: solid;
    border-width: 0.01em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(239, 239, 239, .01);
    outline: none;
    font-size: 1em;
    min-width: 100%;
    margin-top: 2em;
    min-height: 7em;
    line-height: 1.5em;
    color: #757575;
}
#mensagemSobre:focus {
    border-color: rgba(11, 55, 103, .95);
}
#enviarMensagem {
    margin: 3em auto .5em;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}

/* RODAPE */
footer {
    width: 100%;
    height: 25em;
    border-top: solid 0.1em rgba(11, 55, 103, .7);
    background-color: rgba(203, 209, 215, .1);   
}
.logoGrande {
    width: 15em;
    position:relative;
    top: 2em;
    display:block;
    margin:0 auto;
}
.iconesSociais {
    position: relative;
    top: 1em;
    text-align: center;
}
.iconesSociais i {
    color:#363f46;
    margin:0 .5em;
    padding: .0725em .15em;
}
.youtube:hover i, .twitter:hover i, .face:hover i, .insta:hover i { 
    color: #6e808b;
    cursor: pointer;
}
footer p {
    text-align: center;
    color: #363f46;
    position: relative;
    top: 3em;
    padding: 0;
    margin: 0;
    font-size: .9em;
    line-height: 1.25em;
}

/* UTILS */
.setVisible, .setLogado { 
    display: block;
}

.setInvisible, .setUnLogado { 
    display: none;
}


