@charset "UTF-8";
html {
    font: 16px Hind, Arial, sans-serif;	
    color:#0b3767;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
header {
    border-bottom: solid 0.05em rgba(11, 55, 103, 0.7);
    height: 100px;
    background-color: rgba(203, 209, 215, .09);
    box-shadow: 0px 0px 2px 0px #0b3767;
}
#logoHeader {
    display: inline-block;
    width: 5em;
    margin: 0.4% 0 0 5%;
    cursor: pointer;
}
#imgHeader, #imgHeaderSec {
    width: 100%;
}
#h1Header, #h2Header, #h1HeaderSec, #h2HeaderSec {
    font-family: 'Special Elite', cursive;
    font-weight: 500;   
    margin: 0;
    cursor: pointer;
}
#nomeHeader h1 {
    font-size: 1.9em;
    position: relative;
    top: -.7em;
}
#nomeHeader h2 {
    font-size: .84em;
    position: relative;
    top: -1.9em;
}
#nomeHeader {
    width: 9em;
    height: 2em;
    margin: 0;
    display: inline-block;
}
.divPesquisa{
    position: absolute;
    top: 1em;
    left: 27%;
}
.formPesquisa {
    width: 32em;
    display: inline-block;
}
.pesquisa {
    padding: .5em 2.1em .5em .5em;
    width: 32em;
    border-radius: .2em;
    background-color: rgba(203, 209, 215, .3);
    transition: .8s;
    border: .09em solid transparent;
    font-size: 1.05em;
}
.pesquisa:focus {
    background-color: #fefefe;
    outline:none;
    border: .09em solid rgba(11, 55, 103, .75);
}
.lupa {
    position:relative;
    top: 0.15em;
    left: -0.5em;
    color: #0b3767;
    cursor: pointer;
}
.lupa:hover {
    color: #6e808b;
}
.divUser, .divLogado {
    position: absolute;
    top: .25em;
    right: 12%;
    display: none;
}
.carrinho {
    position: absolute;
    top: 0.8em;
    right: 5%;
    color: #0b3767;
    cursor: pointer;
}
.carrinho:hover { 
    color: #6e808b;
}
.cadastrar, .minhaConta, .logar, .desLogar {
    color: #0b3767;
    cursor: pointer;
}
.cadastrar:hover, .minhaConta:hover, .logar:hover, .desLogar:hover { 
    color: #6e808b;
}
.separador {
    color: #0b3767;
    font-size: 1.7em;
}
nav {
    position: absolute;
    top: 3.75em;
    left: 25.5%;
    width: 40em;
    height: 1.5em;
    text-align: center;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    font-size: 1.09em;
    display: inline-block;
    margin: 0.75em 3.7em .25em 0;
    cursor: pointer;
}
nav li:hover, #esqueciSenha:hover {	
    color: #6e808b;
}
article {
    min-height: 750px;
}
/* PÁGINA INICIAL */
.fundoInicio {
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url('../img/peixe2.jpg');    
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center;
}
.overlay {
    width: 70%;
    height: 275px;
    position: absolute;
    opacity: .5;
    background-color: #fff;
    margin: 0 15%;
    top: 9em;
}
.planosInicio {
    width: 60%;
    margin: 1.25em 20%;
    position: absolute;
    top: 9em;
}
.planosInicio h1 {
    text-align: center;
    font-size: 2.5em;
    color: #0b3767;
    font-weight: 500;
    text-shadow: 1px 1px #6e808b;
    margin: .25em;
}
/* LISTAGEM PRODUTOS */
.divMenu {
    position: absolute;
    width: 16%;
    top: 10em;
    left: 1em;
}
.divMenu div, .divMenuCliente div {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
    position: relative;
    left: 1em;
    margin-top: 0;
}
.labelMenu, .labelMenuCli {
    font-size: 1.5em;
    line-height: 1.7em;
    position: relative;
    left: 1em;
}
.divMenu li, .verMeusDados, .verMinhasCompras, .liAdicionarEnd {
    list-style-type:none;
    margin: .63em .9em .45em 3.15em;
    font-size: 1em;
    position: relative;
    right: 1.99em;
    cursor: pointer;
}
.liEndEnt {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
    list-style-type: none;
    margin: .63em .9em .45em 3.15em;
    font-size: 1em;
    position: relative;
    right: 1.99em;
    width: 86%;
}
.estiloAdicionarEnd { 
    list-style-type:none;
    width: 175px;
    font-size: 1em;
    position: relative;
    right: 1.99em;
    cursor: pointer;
}
.divMenu li:hover, .verMeusDados:hover, .verMinhasCompras:hover, .estiloAdicionarEnd:hover {	
    color: #6e808b;
}
.listaOfertas {    
    width: 97%;
    position: relative;
    margin: 3em 0 0 3%;
    padding-bottom: 3%;
}
.listaProdutos {    
    width: 997px;
    position: relative;
    margin: 3em 0 0 26%;
    padding-bottom: 3%;
}
.produtoMini {
    position: relative;
    width: 23%;
    border-radius: .2em;
    display: inline-block;
    margin: 0.5em;
    background-color: rgba(203, 209, 215, .09);
}
.divFotoMini {
    width: 86%;
    height: 9.9em;
    display: inline-block;
    margin: 7%;
    position: relative;
}
.fotoMini {
    width: 100%;
}
.produtoMini h1 {
    margin: 0;
    font-weight: 400;
    text-align: center;
}
.produtoMini p {
    text-align: center;
    margin: 0;
}
.verMaisMini {
    text-align: center;
    margin: 4% auto;
    padding: .5em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    width: 36%;
    cursor: pointer;
}
.comprarMini {
    text-align: center;
    margin: .5em .5em .5em .25em;
    padding: .5em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    display: inline-block;
    width: 36%;
    cursor: pointer;
}
.verMaisMini:hover, .comprarMais:hover, #finalizarCompra:hover, #entrarLogin:hover, #criarConta:hover, #salvarDadosConta:hover, #enviarMensagem:hover,
.btnMeusDados:hover, #calcularFreteCarrinho:hover, .btnMeusDadosEnd:hover, #alterarEnd:hover, .btnOk:hover, #CONFIRMPG:hover {
    background-color: rgba(203, 209, 215, .3);
}
.promocaoMini {
    background-color: rgb(253, 130, 51);
    width: 70px;
    padding: 5px 0;
    text-align: center;
    color: rgb(250, 251, 251);
    position: absolute;
    right: 0;
    z-index: 1;
}
.semOfertaText { 
    line-height: 1.5em;
    color: #6e808b;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 3% 3% 3% 0;
}

/* DETALHES PRODUTO */
.produtoMais {
    width: 950px;
    position: relative;
    top: 3em;
    margin: 0 auto;
    background-color: rgba(203, 209, 215, .09);
}
.divFotoMais {
    width: 45%;
    margin: 2em;
    display: inline-block;
}
.fotoMais {
    width: 100%;
    height: 19.5em;
}
.detalhesProduto {
    width: 45%;
    display: inline-block;
    position: relative;
    bottom: 0.8em;
    text-align: center;
}
.precoMais {
    font-weight: 600;
}
.qtdeCompraMais {
    text-align: center;
    width: 18%;
    margin-right: 1em;
    line-height: 2.4em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    background-color: rgba(203, 209, 215, 0);
}
.unidadeMais {
    display: inline-block;
    margin-top: 1.5em;
}
.comprarMais {
    padding: .5em 3em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    display: inline-block;
    cursor: pointer;
    margin-top: 0.5em;
}
.semSaldoMais { 
    font-size: 1.5em;
    margin-top: 2.5em;
}

/* CARRINHO */
.divCarrinho {
    position: relative;
    top: 3em;
    width: 76%;
    margin: 0 auto;
}
.h1DivCarrinho, .h1DivCompras {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
    padding-bottom: .75em;
}
.h1DivCarrinho h1, .h1DivCompras h1 {
    position: relative;
    left: 1em;
    font-weight: 500;
    margin: 0;    
    display: inline-block;
}
.h1DivCarrinho span {
    position: relative;
    left: 4%;
}
.tdImg {
    width: 15%;
    padding: 1em;
}
.divProdutoCar {
    width: 100%;
    display: inline-block;
}
.carrinhoTable table, .tableCompras, .tableItem {
    border-collapse: collapse;
    width: 100%;
}
.carrinhoTable tr, .comprasTable tr, .comprasItensTable tr {
    line-height: 2;
}
.itemCarrinho, .itemCompraCapa {
    border-bottom: .05em solid rgba(11, 55, 103, .7);
}
.carrinhoTable th {
    font-weight: 300;
    text-align: left;
    padding-left: 1em;
    background-color: rgba(203, 209, 215, .3);
}
.qtdeCompra {
    width: 5em;
    text-align: center;
    line-height: 3em;
    margin: 0 0 0 1.8em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    background-color: rgba(203, 209, 215, 0);
}
.removerPedido, .atualizaCarrinho {
    cursor: pointer;
}
#finalizarCompra {
    margin: 2em 0 0 auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
.fotoCarrinho { 
    width: 100%;
}
.carrinhoVazio, .comprasVazio {
    width: 100%;
    height: 100px;
    background-color: rgba(203, 209, 215, .09);
}
.carrinhoVazioText, .comprasVazioText {
    line-height: 1.5em;
    color: #6e808b;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 3%;
}
.campoCep { 
    border-style: solid;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    outline: none;
    line-height: 1.5em;
    font-size: 1em;
    color: #444;
    padding: .2em;
    width: 7em;
}
.subtotalLinha { 
    border-bottom: .05em solid rgba(11, 55, 103, .7);
}
#calcularFreteCarrinho {
    text-align: center;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    width: 20%;
    display: inline-block;
    margin-left: 10%;
}
#alterarEnd { 
    text-align: center;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    width: 30%;
    display: inline-block;
    margin-left: 10%;
}
#divAlteraEnds { 
    width: 26%;
    min-height: 136px;
    position: absolute;
    background-color: #fbfbfc;
    margin: 0 37%;
    top: 15em;
    border: solid .1em rgba(203, 209, 215, .3);
}

#divAlteraEndsSup { 
    height: 2em;
    border: solid .05em rgba(203, 209, 215, 0.6);
    padding-left: .51em;
    line-height: 2em;
}
.btnOk { 
    text-align: center;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    width: 10%;
    margin: 5% auto;
    padding: 1%;
}
#divBack { 
    width: 100%;
    background-color: rgba(1, 1, 1, .5);
    height: 100%;
    position: fixed;
    top: 0;
}
#boxDataEntrega { 
    margin: 2em 0 0 auto;
    max-width: 14.4em;
    text-align: center;
}
#dataEntrega { 
    border-style: solid;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    outline: none;
    line-height: 1.5em;
    font-size: 1em;
    color: #444;
    padding: .2em;
    width: 9em;
}

/* LOGIN */
section {
    min-height: 750px;
}
.divIconLogin {
    margin: 1em auto 0 auto;
    width: 47%;
    font-size: 1.5em;
}
.divLoginCentro { 
    width: 50%;
    height: 400px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .09);
}
.divCamposLogin {
    width: 60%;
    margin: 0 auto;   
}
.camposLogin {
    border-style: none none solid none;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(203, 209, 215, 0);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    min-width: 20em;
    margin-top: 2em;
}
.camposLogin:focus {
    border-color: rgba(11, 55, 103, .95);
}
#entrarLogin {
    margin: 3em auto .5em;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
#esqueciSenha {
    margin: 0 auto 2em;
    max-width: 25%;
    text-align: center;
    cursor: pointer;
}
#naoTemConta {
    margin: 0 auto .5em;
    max-width: 28%;
    text-align: center;
}
#criarContaLogin {
    margin: 0 auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}

/* CADASTRO CLIENTE */
.divIconCriarConta {
    margin: 1em auto 0 auto;
    width: 33%;
    font-size: 1.5em;
}
.divCriarContaCentro { 
    width: 1100px;
    height: 275px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .09);
}
.divCamposCriarConta {
    width: 37%;
    margin: 0 6.2%;
    display: inline-block;  
}
#criarConta, #salvarDadosConta {
    margin: 3em auto;
    max-width: 15%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
}
.camposCriarConta {
    border-style: none none solid none;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(203, 209, 215, 0);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    min-width: 20em;
    margin-top: 2em;
}
.divIconContinuarConta {
    margin: 1em auto 0 auto;
    width: 1100px;
    font-size: 1.5em;
}
.divContinuarContaCentro {
    width: 1100px;
    height: 430px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .09);
}
.divCamposContinuarConta {
    margin: 0 5%;
    display: inline-block;  
}
.divCamposContinuarConta1 {
    width: 23%;
}
.divCamposContinuarConta2 {
    width: 42%;
}
.divCamposContinuarConta3 {
    width: 4%;
}
.divCamposContinuarConta4 {
    width: 47%;
}
.divCamposContinuarConta5 {
    width: 32.5%;
}
.divCamposContinuarConta6 {
    width: 11%;
}
.divCamposContinuarConta7 {
    width: 68.5%;
}
.camposContinuarConta {
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    outline: none;
    line-height: 1.5em;
    font-size: 1.25em;
    margin-top: 2em;
}
.camposContinuarConta1 { 
    border-style: none none solid none;    
    background-color: rgba(203, 209, 215, 0);
    min-width: 12em;
}
.camposContinuarConta2 {
    border-style: solid;    
    background-color: rgba(203, 209, 215, .09);
    padding-left: .25em;
}
.camposContinuarConta21 {  
    min-width: 26em;    
}
.camposContinuarConta22 {  
    width: 2em;    
}
.camposContinuarConta3 {
    border-style: none none solid none;
    background-color: rgba(203, 209, 215, 0); 
    min-width: 25em;    
}
.camposContinuarConta4 {
    border-style: none none solid none;
    background-color: rgba(203, 209, 215, 0);   
    min-width: 17.5em;
}
.camposContinuarConta5 {
    border-style: none none solid none;
    background-color: rgba(203, 209, 215, 0);
    width: 6em;
}
.camposContinuarConta6 {
    border-style: none none solid none;
    background-color: rgba(203, 209, 215, 0); 
    min-width: 37em;
}
.camposCriarConta:focus, .camposContinuarConta:focus, .camposMeusDados:focus, .campoCep:focus, .camposMeusPS:focus {
    border-color: rgba(11, 55, 103, .95);
}

/* AREA DO CLIENTE*/
.divMenuCliente {
    position: absolute;
    width: 17%;
    top: 10em;
    left: 1em;
}
.contemBemVindoCli { 
    display: inline-block;
    width: 73%;
    position: relative;
    padding: 3em 0;
    left: 27%;
}
.overlayCli { 
    height: 15em;
    position: relative;
    margin: 3em 11.5%;
    box-shadow: 0px 0px 4px -2px #0b3767;
}
.bemVindoCli { 
    width: 60%;
    position: absolute;
    top: 7em;
    margin: 0 20%;
}
.bemVindoCli h1 { 
    text-align: center;
    font-size: 1.5em;
    color: #0b3767;
    font-weight: 200;
    text-shadow: 0.25px 0.25px #6e808b;
    margin: .25em;
    line-height: 2em;
}
.contemMeusDados, .contemMinhasCompras, .contemEnd, .adicionarEnd { 
    width: 910px;
    position: relative;
    margin: 3em 0 0 26%;
    padding-bottom: 3%;
}

/* MEUS DADOS */
.meusDados { 
    width: 100%;
    height: 550px;
    position: relative;
    margin: 1em 0 0 0;
    background-color: rgba(203, 209, 215, .09);
}
.meusDados form, .meusDadosEnd form, .meusDadosEndNovo form { 
    padding-top: 3%;
}
.meusDadosEnd { 
    width: 100%;
    height: 260px;
    position: relative;
    margin: 1em 0 0 0;
    background-color: rgba(203, 209, 215, .09);
}
.meusDadosEndNovo {
    width: 100%;
    height: 330px;
    position: relative;
    margin: 1em 0 0 0;
    background-color: rgba(203, 209, 215, .09);
}
.divDadosConta h1 { 
    position: relative;
    left: 1em;
    font-weight: 500;
    margin: 0;
}
.divCamposDadosConta {    
    margin: 0 5% 2%;
    display: inline-block;
}
.divCamposDadosConta1 { 
    width: 37%;
}
.divCamposDadosConta2 {
    width: 4%;
}
.divCamposDadosConta3 {
    width: 17%;
}
.divCamposDadosConta4 { 
    width: 59%;
}
.divCamposDadosConta5 {
    width: 22%;
}
.divCamposDadosConta6 { 
    width: 41%;
}
.divCamposDadosConta7 { 
    width: 90%;
}
.camposMeusDados { 
    border-style: solid;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(203, 209, 215, .3);
    outline: none;
    line-height: 1.5em;
    font-size: 1.1em;
    color: #444;
    padding: .2em;
}
.camposMeusDados1 { 
    min-width: 21em;
}
.camposMeusDados2 { 
    width: 2em;
}
.camposMeusDados3 { 
    width: 9em;
}
.camposMeusDados4 { 
    width: 31.25em;
}
.camposMeusDados5 {
    width: 12em;
}
.camposMeusDados6 {
    width: 22em;
}
.camposMeusDados7 {
    width: 45em;
}
.btnMeusDados, .btnMeusDadosEnd { 
    margin: 2em auto 0.5em;
    width: 11%;
    text-align: center;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 23.5em;
}

/* MINHAS COMPRAS */
.contemMinhasCompras {
    width: 68%;
    position: relative;
    margin: 3em 0 0 26%;
}
.comprasTableTh {    
    font-weight: 300;
    text-align: center;
    background-color: rgba(203, 209, 215, .3);
}
.itemCompraCapa td { 
    text-align: center;
}
.contemMinhasComprasItens {
    width: 52%;
    position: relative;
    margin: 3em 0 0 26%;
}
.verItens { 
    padding-right: 15%;
}
.verItensCompra {
    cursor: pointer;
}
.verItensCompra:hover {
    color: #6e808b;
}
.tableItem { 
    border: solid 0.25em;
}
.comprasItensTh { 
    font-weight: 300;
    text-align: left;
    padding-left: 1em;
    background-color: rgba(203, 209, 215, .3);
}
.comprasItensThTotal { 
    font-weight: 300;
    text-align: left;
    padding-left: 3%;
    background-color: rgba(203, 209, 215, .3);
}
.tdQtdeCompra {
    padding-left: 3%;
}
.tdTotal { 
    border-right: solid 0.25em;
    width: 12%;
}
.comprasItensTr {
    border-bottom: .05em solid rgba(11, 55, 103, .7);    
}
.tdFrete { 
    padding-left: 3%;
}
.tdCancelarCarta {
    padding-left: 1em;
    cursor: pointer;
}

/* SOBRE */
.divSobre {
    margin-bottom: 5%;
}
.imgSobre {
    width: 71.3%;
    margin: 2em auto;
}
.fotoSobre {
    width: 100%;
}
.overlaySobre {
    width: 77%;
    height: 21em;
    position: relative;
    margin: 3em 11.5%;
    border: solid .01em rgb(203, 209, 215);
}
.infosSobre {
    width: 60%;
    position: absolute;
    top: 12em;
    margin: 0 20%;
}
.infosSobre h1 {
    text-align: center;
    font-size: 1.5em;
    color: #0b3767;
    font-weight: 200;
    text-shadow: 0.25px 0.25px #6e808b;
    margin: .25em;
    line-height: 2em;
}
.divSobreLabel, .divTitleFormPag {
    margin: 3em auto 0 auto;
    width: 47%;
    font-size: 1.5em;
}
.divSobreLabel h1, .divTitleFormPag h1 {
    font-weight: 400;
}
.divSobreCentro {
    width: 50%;
    height: 435px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .09);
}
#mensagemSobre { 
    border-style: solid;
    border-width: 0.01em;
    border-color: rgba(11, 55, 103, .5);
    background-color: rgba(239, 239, 239, 0);
    outline: none;
    font-size: 1em;
    min-width: 100%;
    margin-top: 2em;
    min-height: 7em;
    line-height: 1.5em;
    color: #757575;
}
#mensagemSobre:focus {
    border-color: rgba(11, 55, 103, .95);
}
#contemEnviarMensagem { 
    margin: 3em auto .5em;  
}
#enviarMensagem, #CONFIRMPG {
    width: 15%;
    text-align: center;
    display: inline-block;
    padding: .5em 2.25em;
    border: solid 0.09em rgba(11, 55, 103, .75);
    cursor: pointer;
    position: relative;
    left: 15.5em;
}


.divFormPagCentro { 
    width: 50%;
    height: 200px;
    position: relative;
    margin: 2em auto;
    box-shadow: 0px 0px 3px -1px #0b3767;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divFormPag { 
    width: 25%;
    display: inline-block;
    margin: 7%;
}
.imgPag{
    width: 100%;
    cursor: pointer;
}
.formCreditCardPS { 
    padding-top: 4.10%;
}
.divCreditCardPS {
    width: 50%;
    height: 285px;
    position: relative;
    margin: 2em auto;
    background-color: rgba(203, 209, 215, .09);
}
.divCamposDadosPS { 
    margin: 0 6.8% 2.8%;
    display: inline-block;
}
.divCamposDadosPS1 {
    width: 34%;
}
.divCamposDadosPS2 {
    width: 31%;
}
.divCamposDadosPS3 {
    width: 20%;
}
.divCamposDadosPS3 label { 
    display: block;
}
.camposMeusPS {
    border-style: solid;
    border-width: 0.07em;
    border-color: rgba(11, 55, 103, .5);
    background-color:  rgba(239, 239, 239, 0.05);
    outline: none;
    line-height: 1.5em;
    font-size: 1.1em;
    color: #444;
    padding: .2em;
}
.camposDadosPS1 {
    min-width: 12em;
}
.camposDadosPS2{
    width: 6em;
}
.camposDadosPS3 { 
    width: 2em;
    display: inline-block;
}
.camposDadosPS4 { 
    width: 4em;
    display: inline-block;
}
.contemConfirmPG { 
    margin: 2em auto .5em;
}
.divPS { 
    padding: 5% 14% 9%;
}
.divPS h2 { 
    font-weight: normal;
}
.divImgPS { 
    cursos: pointer;
}

/* RODAPE */
footer {
    width: 100%;
    height: 17em;
    border-top: solid 0.1em rgba(11, 55, 103, .7);
    background-color: rgba(203, 209, 215, .09);
    overflow: hidden;
}
.contemFooter {
    margin: 0 25%;
}
.contemImgFooter {
    width: 12em;
    margin-top: 1.75em;
    display: inline-block;
}
.logoGrande {
    width: 100%;
}
.contemFooterDados { 
    position: relative;
    bottom: 6.5em;
    right: 4em;
}
.iconesSociais {
    position: relative;
    bottom: 4.5em;
    left: 450px;
}
.iconesSociais i {
    color:#363f46;
    margin:0 .5em;
    padding: .0725em .15em;
}
.youtube:hover i, .twitter:hover i, .face:hover i, .insta:hover i { 
    color: #6e808b;
    cursor: pointer;
}
.footerEndereco {
    text-align: center;
    color: #363f46;
    position: relative;
    bottom: 4em;
    left: 368px;
    font-size: .9em;
    display: inline-block;
}

/* UTILS */
.setVisible, .setLogado { 
    display: block;
}

.setInvisible, .setUnLogado { 
    display: none;
}


