/projetoPratico-web/nbproject/private/
/projetoPratico-web/build/
/projetoPratico-web/dist/
/projetoPratico-ejb/nbproject/private/
/projetoPratico/nbproject/private/
/projetoPratico/build/
/projetoPratico/dist/
/ex/nbproject/private/